/* 默认值 */
/* margin给top*/
/* P h决定不了颜色*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Times New Roman', Times, serif;
transition: all 0.05s ease;

}



/* 页面共同部分*/

body {
  line-height: 1.2;
  font-size: 1.4vw; /* 所有字体大小跟着这儿成比例放大*/
background-color:black;
        background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('background/stars.png'); /* 替换 'your-image-url.jpg' 为你的图片地址 */
        background-size: 100% 100%; /* 图片将会拉伸以填满整个容器，可能会导致变形 */
         background-position: center center; /* 图片位于容器的中心 */
        background-attachment: fixed; /* 将背景图像与页面一起滚动 */
text-align: center;

}




    

/* 页面header部分*/
header{

text-align: center;

position: fixed;
background-color: black;

  z-index: 1000; /* 确保导航栏位于其他内容上方 */
  top: 0; /* 距离顶部距离为0 */
  width: 100%; /* 宽度占满整个屏幕 */
}








nav {display: flex;  align-items: center; text-align: center;   color:	#00BFFF;   background-color: rgba(0, 0, 0, 0.4); /* 设置背景颜色为半透明黑色 */    padding: 0.5vw; /* 为导航栏添加内边距 */}

.logo { margin-right: auto; /* 将 logo 推到导航栏的最左边 */}
.logo img {height: 3vw; /* 设置 logo 图片的高度 */}












/* 页面section部分*/
section{

margin-left: 10%;
margin-right: 10%;
margin-top: 10%;

font-size: 100%; 
    color:	#00BFFF;



}

footer{
    margin-top: 5%;
        margin-bottom: 5%;

    text-align: center;
    color:	#00BFFF;



}




    .container-wrapper {
        display: flex;
        justify-content: flex-start; /* 左对齐 */
        align-items: center; /* 在交叉轴上居中对齐 */
    width: 100%;
    height: 100%;
    margin-top: 5%;
    }

.container-wrapper :hover {   transition: all 0.5s ease; }


.container0 {
    display: flex;
    /* align-items: center; 垂直居中对齐 */
    width: 50%;

    margin-top:5%;
    font-size: 100%;
    color:	#00BFFF;
 overflow: hidden;
 background-color: rgba(0, 0,0, 0.4); /* 将背景颜色设置为半透明黑色，alpha 值为 0.5 */
 border-radius: 2.2vw;


}




.container {
    display: flex;
    /* align-items: center; 垂直居中对齐 */
    width: 100%;

    margin-top:5%;
    font-size: 100%;
    color:	#00BFFF;
 overflow: hidden;
 border: none;

}




.image {

flex: 0 0 15%;
max-width: 15%; /* 给空间 */
height: 100%; /* 去掉之后，图片不再缩放 */
 overflow: hidden;
transition: all 0.5s ease;
}


.image img {
 overflow: hidden;
max-width: 100%; /* 设置具体图片的大小*/
height: auto;
transition: all 0.5s ease;

}

.image :hover{transition: all 0.5s ease;
 overflow: hidden; transform: scale(1.1) ;  filter: brightness(1.2); /* 降低亮度为70% */}


.text {
    padding-left: 15px;
    padding-right: 10px;
    flex: 4; /* 占据剩余空间 */


}








.container1 {
    display: flex;
    font-size: 100%;

    width: 46%;

    margin-left: 2%;
    margin-right: 2%;
    background-color: rgba(0, 0,0, 0.4); /* 将背景颜色设置为半透明黑色，alpha 值为 0.5 */
    color:	#00BFFF;
    border-radius: 2.2vw;
    border-color: black;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}




/*此处image1是一个容器*/
/*图片缩放在这进行*/

.image1 {
max-width: 100%; 
height: 15vw; 
 overflow: hidden;
    transition: all 0.5s ease;

}

/*对图片本身的修改*/

.image1 img{ 
overflow: hidden;
width: 100%; 
height: 100%;
transition: all 0.5s ease;


}



.image1 :hover{transition: filter 0.8s ease, transform 0.8s ease;
 overflow: hidden; transform: scale(1.1) ;  filter: brightness(1.2); /* 降低亮度为70% */}





.text1 {
    flex: 1; /* 占据剩余空间 */
    padding-left: 10px;
        padding-right: 10px;

}











canvas{ 
    outline: none;
    width: 65%;
    background-color: transparent;
    z-index:10000; 


    position: absolute; /* 将 canvas 绝对定位 */
    top: 0vw; /* 距离容器顶部的距离 */
    right: 0vw; /* 距离容器顶部的距离 */

    
};

h1{
    font-size: 350%;/*父级的300%*/

};

h2{
    font-size: 280%;


};

h3{
    font-size:250%;


};


p{
    font-size: 200%;
        text-indent: 2em; /* 使用 em 单位设置缩进 */


};
