/* 默认值 */
/* margin给top*/
/* P h决定不了颜色*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Times New Roman', Times, serif;

}



/* 页面共同部分*/
/*
body {
  line-height: 1.2;
  font-size: 1.4vw; /* 所有字体大小跟着这儿成比例放大*/
background-color:black;
        background-image: url('background/stars.png'); /* 替换 'your-image-url.jpg' 为你的图片地址 */
        background-size: 100% 100%; /* 图片将会拉伸以填满整个容器，可能会导致变形 */
         background-position: center center; /* 图片位于容器的中心 */
        background-attachment: fixed; /* 将背景图像与页面一起滚动 */
  filter: brightness(0.5); /* 0.5 表示将亮度降低到原来的一半，可以根据需要进行调整 */


}
*/




body {
  line-height: 1.2;
  font-size: 1.4vw;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('background/stars.png');
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  filter: brightness(0.5); /* 0.5 表示将亮度降低到原来的一半，可以根据需要进行调整 */
  z-index: -1; /* 确保伪元素在内容之后绘制 */
}

    



/* 页面header部分*/
header{

text-align: center;

position: fixed;
background-color: black;

  z-index: 1000; /* 确保导航栏位于其他内容上方 */
  top: 0; /* 距离顶部距离为0 */
  width: 100%; /* 宽度占满整个屏幕 */
}


/* 页面nav部分*/
nav {
text-align: center;
text-decoration-line: none;
    color:	#00BFFF;



font-size: 100%;

position: fixed;
background-color: black;
  z-index: 100000; /* 确保导航栏位于其他内容上方 */

  top:0; /* 距离顶部距离为0 */
  width: 100%; /* 宽度占满整个屏幕 */
  height: 6%;

  align-items: center;
}















nav a {
  align-items: center;
    color:	#00BFFF;

  text-decoration: none; 
  text-decoration-line: none;

  margin-top: 20%;

  margin-right: 2%;
  margin-left: 2%;

  font-size: 120%;


}

nav a:hover {
    transform: scale(0.8);
  color: white; 

}












/* 页面section部分*/
section{

margin-left: 10%;
margin-right: 10%;
margin-top: 10%;

font-size: 100%; 
    color:	#00BFFF;



}

footer{
    margin-top: 5%;
        margin-bottom: 5%;

    text-align: center;
    color:	#00BFFF;



}




    .container-wrapper {
        display: flex;
        justify-content: flex-start; /* 左对齐 */
        align-items: center; /* 在交叉轴上居中对齐 */
    width: 100%;
    height: 100%;
    margin-top: 5%;

    }



.container0 {
    display: flex;
    /* align-items: center; 垂直居中对齐 */
    width: 50%;

    margin-top:5%;
    font-size: 100%;
    color:	#00BFFF;
 overflow: hidden;
 border: none;

}




.container {
    display: flex;
    /* align-items: center; 垂直居中对齐 */
    width: 100%;

    margin-top:5%;
    font-size: 100%;
    color:	#00BFFF;
 overflow: hidden;
 border: none;

}




.image {

flex: 0 0 15%;
max-width: 15%; /* 给空间 */
height: auto; /* 去掉之后，图片不再缩放 */
 overflow: hidden;

}


.image img {
 overflow: hidden;
max-width: 100%; /* 设置具体图片的大小*/
height: auto;

}

.image :hover{transition: filter 0.8s ease, transform 0.8s ease;
 overflow: hidden; transform: scale(1.1) ;  filter: brightness(0.5); /* 降低亮度为70% */}


.text {
    padding-left: 15px;
    padding-right: 10px;
    flex: 4; /* 占据剩余空间 */


}








.container1 {
    display: flex;
    font-size: 100%;

    width: 46%;

    margin-left: 2%;
    margin-right: 2%;
    background-color: #00BFFF;
    color: black;
    border-radius: 2.2vw;
    border-color: black;
    box-shadow: 0px 0px 0.8vw 0.8vw rgba(0, 95, 122, 0.75);
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

.container1 :hover {    box-shadow: 0px 0px 1.2vw 1.2vw rgba(10, 191, 255, 0.75);}



/*此处image1是一个容器*/
/*图片缩放在这进行*/

.image1 {
max-width: 100%; 
height: 15vw; 
 overflow: hidden;
}

/*对图片本身的修改*/

.image1 img{ 
overflow: hidden;
width: 100%; 
height: 100%;}



.image1 :hover{transition: filter 0.8s ease, transform 0.8s ease;
 overflow: hidden; transform: scale(1.1) ;  filter: brightness(0.5); /* 降低亮度为70% */}


.text1 {
    flex: 1; /* 占据剩余空间 */
    padding-left: 10px;
        padding-right: 10px;

}











canvas{ 
    outline: none;
    width: 65%;
    background-color: transparent;
    z-index:10000; 


    position: absolute; /* 将 canvas 绝对定位 */
    top: 0vw; /* 距离容器顶部的距离 */
    right: 0vw; /* 距离容器顶部的距离 */

    
};

h1{
    font-size: 350%;/*父级的300%*/

};

h2{
    font-size: 280%;


};

h3{
    font-size:250%;


};


p{
    font-size: 200%;
        text-indent: 2em; /* 使用 em 单位设置缩进 */


};
